.footer {
	padding-bottom: 60px;
	padding-top: 60px;

	background-color: var(--footer-bg-cl);
}

.footer__container {
	@media screen and (min-width: 480px) {
		display: block;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: baseline;
	}
}
.studia-container {
	text-align: center;
	margin-bottom: 60px;
	@media screen and (min-width: 1200px) {
		min-width: 300px;
		text-align: left;
	}
}
.studia-socials-container {
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-around;
	}
}
.footer__logo {
	display: inline-block;
	margin-bottom: 20px;
}

.logo--white {
	color: var(--light-logo-cl);
}

.footer__map {
	font-size: 14px;
	line-height: 1.71;
	color: var(--light-txt-cl);
}

.footer__link {
	font-size: 14px;
	line-height: 1.71;
	color: var(--footer-txt-cl);
}

.adress {
	display: block;
	margin-bottom: 9px;
}
.join-in,
.sign-up {
	text-align: center;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--light-txt-cl);
	margin-bottom: 20px;

	@media screen and (min-width: 1200px) {
		text-align: left;
	}
}

.signup-group {
	text-align: center;
	@media screen and (min-width: 1200px) {
		display: flex;
	}
}

.signup-btn-icon {
	width: 200px;
	// min-width: 200px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 50px;
	gap: 10px;
	height: 50px;
	border-radius: 4px;

	background-color: var(--accent-txt-cl);
	transition: box-shadow var(--anim);

	&:hover,
	&:focus {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}
}

.signup-form-field {
	margin-bottom: 20px;

	width: 358px;
	height: 50px;
	padding: 15px 16px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	margin-right: 12px;

	color: var(--light-txt-cl);
	background-color: transparent;
	transition: border var(--anim);

	&:hover,
	&:focus {
		border: 1px solid var(--accent-txt-cl);
	}
	@media screen and (min-width: 768px) {
		width: 450px;
	}
	@media screen and (min-width: 1200px) {
		width: 358px;
	}
}

.signup-form-btn {
	min-width: 110px;
}
.signup-form-btn.btn {
	display: block;
	padding: inherit;

	&.btn:hover,
	&.btn:focus {
		box-shadow: none;
	}
}

.signup-form-icon {
	fill: var(--light-txt-cl);
}
.footer-socials {
	@media screen and (min-width: 1200px) {
		justify-content: flex-start;
	}
}
.socials-container {
	margin-bottom: 60px;
	@media screen and (min-width: 1200px) {
		min-width: 300px;
		text-align: left;
	}
}
.socials-container .join-in {
	@media screen and (min-width: 1200px) {
		margin-right: 183px;
	}
}
.socials-container .socials__link {
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--light-txt-cl);
	transition: background-color var(--anim);

	&:hover,
	&:focus {
		background-color: var(--accent-txt-cl);
	}
}

.socials-container .socials__icon {
	fill: currentColor;
}
