.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);

	transition: opacity var(--anim), transform var(--anim), visibility var(--anim);
}
.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translateX(-50%) translateY(-50%);

	width: 528px;
	min-height: 581px;
	padding: 40px;

	background-color: var(--main-bg-cl);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.modal-btn {
	position: absolute;
	top: 8px;
	right: 8px;

	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 30px;
	height: 30px;
	background-color: var(--main-bg-cl);

	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.modal-icon {
	fill: #000000;

	transition: fill var(--anim);

	&:hover {
		fill: var(--accent-txt-cl);
	}
}

.modal-label {
	display: block;
	font-weight: 700;
	font-size: 20px;
	line-height: calc(23 / 20);
	text-align: center;
	color: var(--main-txt-cl);
	margin-bottom: 12px;
}

.modal-form-group {
	display: block;
}
.modal-form-label {
	display: block;
	font-size: 12px;
	line-height: calc(16 / 12);
	letter-spacing: 0.01em;
	color: var(--description-txt-cl);

	margin-bottom: 4px;
}
.modal-form-wrapper {
	position: relative;
	margin-bottom: 10px;
}
.modal-form-field {
	width: 100%;
	height: 40px;
	padding-left: 42px;
	padding-right: 42px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: 1px solid transparent;
	outline-offset: -1px;
	transition: outline var(--anim);

	&:focus {
		outline-color: var(--accent-txt-cl);
	}
	&:focus + .modal-form-icon {
		fill: var(--accent-txt-cl);
	}
}

.modal-form-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);

	transition: fill var(--anim);
}
.modal-form-message {
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	margin-bottom: 20px;

	resize: none;

	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: 1px solid transparent;
	outline-offset: -1px;
	transition: outline var(--anim);

	&:focus {
		outline-color: var(--accent-txt-cl);
	}
}

.modal-form-agreememt {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8.38px;

	margin-bottom: 30px;
}
.modal-form-checkbox {
	appearance: none;
	width: 16px;
	height: 15px;

	outline: 2px solid transparent;
	outline-offset: -2px;
	border: 2px solid var(--main-txt-cl);
	border-radius: 2px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: 0;

	transition: background-size var(--anim), outline-color var(--anim), background-color var(--anim);

	&:checked {
		outline-color: var(--accent-txt-cl);
		background-color: var(--accent-txt-cl);
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
		background-size: 11px 8px;
	}
}

.modal-form-agreememt-desc {
	font-size: 14px;
	line-height: calc(24 / 12);
	color: var(--description-txt-cl);
}
.modal-form-agreememt-link {
	color: var(--accent-txt-cl);
}
.modal-form-btn {
	display: block;
	margin: 0 auto;
}
