.nav {
	margin-right: auto;
}

.nav__list {
	display: flex;
	gap: 50px;
}

.nav__item {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-txt-cl);
	padding-top: 32px;
	padding-bottom: 32px;
	align-items: center;
	position: relative;
	transition: color var(--anim);

	&:hover,
	&:focus {
		color: var(--accent-txt-cl);
	}
}
.nav__item.underline::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	background: var(--accent-bg-cl);
	border-radius: 2px;
	width: 100%;
	height: 4px;
}
