.team {
	@extend %section;
	background-color: var(--secondary-bg-cl);
}
.team-card {
	--items: 4;
}
.team-card__cell {
	background-color: var(--main-bg-cl);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team-card__item {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--main-txt-cl);
	margin-bottom: 10px;
}
.team-card__text {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--description-txt-cl);
}

.team-wrapper {
	padding: 30px;
	max-width: 270px;
}
