.work {
	@media screen and (max-width: 1199px) {
		display: none;
	}
	@extend %section;
}
.work-list {
	display: flex;
	gap: 30px;
}
.work-list__item {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}
.work-list__description {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;

	padding: 27px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;

	background: rgba(47, 48, 58, 0.8);
	color: var(--light-txt-cl);
}
